body{
  background-color: #F3F7FB ;
}

.svg{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero{
  /* width: 100vw; */
  display: flex;
  margin-top: 0.6rem;
  gap: 0.6rem;
  margin-left: 0.6rem;
  min-height: 100vh;
}